# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/6th Semester/TextProcessing/TextProcessing/bin
/6th Semester/TextProcessing/TextProcessing/obj
/6th Semester/TextProcessing/TextProcessing.sln
/6th Semester/TextProcessing/.vs
/6th Semester/WebDriverTest/WebDriverTest.sln
/6th Semester/WebDriverTest/.vs
/6th Semester/WebDriverTest/WebDriverTest/obj
/6th Semester/WebDriverTest/WebDriverTest/bin
/6th Semester/Shapes/.vs
/6th Semester/Shapes/Shapes.sln
/6th Semester/Shapes/Shapes/bin/Debug/Shapes.exe
/6th Semester/Shapes/Shapes/bin/Debug/Shapes.exe.config
/6th Semester/Shapes/Shapes/bin/Debug/Shapes.pdb
/6th Semester/Shapes/Shapes/bin/Debug/Shapes.vshost.exe
/6th Semester/Shapes/Shapes/bin/Debug/Shapes.vshost.exe.config
/6th Semester/Shapes/Shapes/obj
/6th Semester/Waves/Waves.sln
/6th Semester/Waves/.vs
/6th Semester/Waves/Waves/obj
/6th Semester/Waves/Waves/bin
